@media screen and ( max-width : 360px ) {

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  font-weight: 700;
}

h4:hover {
  cursor: pointer;
}

.imgRecipes {
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

.sectionRecipes {
  background-image: url('../images//backgound.png');
}

.categories {
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  justify-content: space-around;
}

.divCategories {
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  margin: 6px 1px;
  padding: 5px;
}

}
