@media screen and ( max-width : 2560px ) {

.checksboxs {
  text-decoration: none solid black;
}

.recipesInProgress {
  background-image: url('../images/backgound.png');
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.checkboxes {
  padding: 5px;
}

}