@media (max-width: 375px) {
  .secLogin {
    background-image: url('../images/login.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .divEmailAndPass {
    display: flex;
  }
}

@media (max-width: 425px) {
  .secLogin {
    display: flex;
    flex-direction: column;
  }

  .divEmailAndPass {
    display: flex;
    flex-direction: column;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
    margin-top: 10px;
    justify-content: space-around;
  }
}

@media (max-width: 768px) { 

}

@media (max-width: 1024px) {
  .imgRecipes {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 2560px) {
  /*LOGIN*/
  .secLogin {
    align-items: center;
    background-image: url('../images/login.png');
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .inputsLogin {
    height: 5vh;
    margin: 10px;
    padding: 5px;
  }

  .btnLogin {
    border-radius: 6px;
    height: 5vh;
    width: 100px;
  }

  .btnLogin:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  /*HEADER*/

  .header {
    align-items: center;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
  }
  .inputsRadio {
    padding: 5px;
  }
  #ingredient, #name, #firsLetter {
    margin-left: 5px;
  }

  .btn-header {
    margin-left: 10px;
  }

  .inputSearchHeader {
    margin-top: 10px;
  }

  .btns {
    margin-left: 10px;
  }

  /*MAIN*/
  h4 {
    text-align: center;
  }

  h4:hover {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
    margin-top: 10px;
    justify-content: space-around;
  }

  .divCategories {
    align-items: center;
    background-color: orange;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    margin: 6px 1px;
    padding: 5px;
    height: auto;
  }

  .imgRecipes {
    border-radius: 5px;
}
  .btn-header {
    background-color: green;
    border-radius: 5px;
    color: white;
    font-weight: 700;
  }

}